name: Release Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  oss-release-workflow:
    uses: LimeMojito/oss-maven-standards/.github/workflows/oss-release-build@master
    secrets: inherit
    permissions:
      id-token: write
      contents: write
      packages: write
